
<div class="container">
    <h2>Branch List</h2>
    <ul>
      <li *ngFor="let branch of branches">
        <div class="branch-details">
          <h3>{{ branch.name }}</h3>
          <p><strong>Location:</strong> {{ branch.building_number }} {{ branch.street }}, {{ branch.area }}, {{ branch.city }}, {{ branch.country }}</p>
          <p><strong>Manager:</strong> {{ branch.manager ? branch.manager : 'No Manager assigned' }}</p>
          
          <button (click)="viewBranchDetails(branch.id)">View Details</button>
          <button (click)="deleteBranch(branch.id)">Delete</button>
          
        </div>
      </li>
    </ul>
  </div>
  
