
<div *ngIf="employee">
    <h2>{{ employee.name }} Details</h2>
    <div>
      <label>ID:</label> {{ employee.id }}
    </div>
    <div>
      <label>Name:</label> {{ employee.name }}
    </div>
    <div>
      <label>Age:</label> {{ employee.age }}
    </div>
    <div>
      <label>Email:</label> {{ employee.email }}
    </div>
    <div>
      <label>Phone Number:</label> {{ employee.phoneNumber }}
    </div>
    <div>
      <label>Branch:</label> {{ employee.branch?.name }}
    </div>
  </div>
  